@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>


<p>@Html.ActionLink("See categories", "Index", "Categories")</p>
<p>@Html.ActionLink("See recipes", "Index", "Recipes")</p>